.foods-list{
    margin: 10px 0px 15px 0px;
}


.foods-list .list-box{
    background-color: #ffffff;
}

.foods-list .list-box ul{

 width: 1005px;
 border-top: 1px solid #e6e6e6;
 border-left: 1px solid #e6e6e6;

}

.foods-list .list-box ul li{
    float: left;
    width: 251px;
    box-sizing: border-box;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;

}

.foods-list .list-box ul li p img{
      width: 100%;
      height: 100%;
}
.foods-list .list-box ul li .goods-img{
    height: 230px;
}

.foods-int{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 30px;
}
.foods-int .int-name{
    font-size: 15px;
    color: #8a8a8a;

}
.foods-int .price .new_price{
    font-size:18px;
    color: #ed601b;
}
.foods-int .price  .old_price{
    color: #b0b0b0;
    font-size: 13px;
    line-height: 26px;
    text-decoration: line-through;

}

.cart{
    padding: 0px 30px;
    margin-bottom: 17px;
    margin-top: 20px;
}
.cart .cart-box{
    width: 104px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    color: #676767;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}






