.order .order-title{
    width: 100%;
    height: 65px;
   
}

.order .order-title .tip{
    position: relative;
    width: 90px;
    text-align: center;
    line-height: 65px;
    font-size: 16px;
 
}

.order .order-title .tip::after{
    content: '';
    width: 4px;
    height: 20px;
    position: absolute;
    background-color: #f66061;
    top: 22px;
    left: 0;
}

.order .order-title .more span{
   font-size: 18px;
   line-height: 65px;
   color: #7b7b7b;
}

.order .order-code{
    height: 45px;
    width: 1005px;
    background-color: #f5f5f5;
     
}

.order .order-code .code{
   
      font-size:15px ;
      color: #716c6c;
      width: 165px;
      line-height: 45px;
      text-align: center;
    
}


.cart-accounts{
    width: 1005px;
    border: 1px solid #e6e6e6;
    display: flex;
    box-sizing: border-box;
    height: 140px;
 
}

.cart-accounts .cart-item{
    display: flex;

}

.cart-accounts .cart-item .cart-img{
    width: 140px;
    overflow: hidden;
}
.cart-accounts .cart-item .cart-img img{
    width: 100%;
}
.cart-accounts .cart-item  .goods-name{
    width: 230px;
    font-size: 15px;
    color: #6e6e6e;
   padding-top: 60px;;
   padding-left: 25px;
}


.cart-accounts .num{
    width: 200px;
    text-align: center;
    line-height: 140px;
    font-size: 15px;
    
}

.cart-accounts  .price-item{
    width: 125px;
    padding-top: 50px;
}
.cart-accounts  .price-item .price{
      color: #ed601b;
      font-size: 18px;

}

.cart-accounts  .price-item  span{
    color: #6e6e6e;
}

.cart-accounts .todo-list{
    padding: 8px 0px;
    box-sizing: border-box;

}

.cart-accounts .todo-list .todo-box{
    width: 158px;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    height: 120px;
    text-align: center;
    color: #6e6e6e;
    padding-top: 45px;
}

.cart-accounts .pay{
    padding-top: 55px;
    width: 157px;
    text-align: center;
}

.cart-accounts .pay .pay-btn{
    width: 100px;
    height: 30px;
    border: 1px solid #e6e6e6;
    background-color: #f5f5f5;
    color: #909090;
    text-align: center;
}


